{% extends "main.twig" %}
	{% block content %}
		<div class="row">
				{% for post in posts %}
					<div class="col-md-4">
						{% if post.thumbnail %}
							<img src="{{post.thumbnail.src}}" alt="{{post.title}}" class="img-square">
						{% endif %}
						<a href="{{post.permalink}}"><h3>{{post.title}}</h3></a>
						{{ post.get_preview(30) }}
						<hr>
					</div>
				{% endfor %}
		</div>
	{% endblock %}